*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    max-height: 1050;
    min-height: 568;
    height: 200px;
    background-color: black;

}

header>h1{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    color: white;
    text-align: center;
    font:
}
header>nav{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-75%);

    text-align: center;
    color: white;
    font: ;

}
 header nav a{
    color: white;
    font: ;
    text-decoration: none;
}
 header a:hover{
    text-decoration: underline;
    color: rgb(91, 155, 91);
}
 header a:active{
    color: lightcyan;
}
.todos{
    position: relative;
    max-height: ;
    min-height: ;
    height: 500px;
    background-color: white
}

article{
    position: absolute;
    width: 380px;
    height: 420px;
    left: 30px;
    top: 40px;
}
.cordelmodelo1{
    font-size: 30px;
    line-height: 50px;
    padding-left: 8px;

}
#caixa1{

    position: relative;
    width: 100% ;
    background-image: url('imagens/background001.jpg');
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover 
    
}
#contaner2{
    background-color: black;
    color: white;
    padding: 7px;
}
.boxmaior{
    position: relative;
    max-height: ;
    min-height: ;
    height: 400px;
    background-color: white
}
#caixa2{
    position: relative;
    background-image: url('imagens/background002.jpg');
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contaner3{
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}
footer{
    position: relative;
    height: 80px;
    background-color: black;
}
nav{
    position: absolute;
    left:50% ;
    top: 35px;
    transform: translate(-50%);
}
nav a{
    ont-size: 18px;
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}
nav p {
    font-size: 18px;
    color: white;
    text-align: center;

}